{% extends "base.html" %}

{% block title %}Remove Account{% endblock %}

{% block content %}
<h2>Remove Existing Account</h2>
<form method="post" action="{{ url_for('remove_account') }}">
    <label for="account">Select Account to Remove:</label>
    <select name="account_id" id="account">
        {% for account in accounts %}
            <option value="{{ account.account_id }}">{{ account.account_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Remove Account">
</form>

<script>
function confirmRemoval() {
    var accountSelect = document.getElementById('account');
    var accountName = accountSelect.options[accountSelect.selectedIndex].text;
    return confirm('Are you sure you want to remove ' + accountName + '?');
}
</script>
{% endblock %}