{% extends "base.html" %}

{% block content %}
    <h2>Current Positions for {{ account.account_name }}</h2>

    {% if last_purchase_date %}
    <p><strong>Date of Last Purchase:</strong> {{ last_purchase_date.strftime('%B %-d, %Y') }}</p>
    {% else %}
    <p><strong>Date of Last Purchase:</strong> No purchases made yet.</p>
    {% endif %}
    {% if stock_data_list %}
    <table class="allocation-table view-table">
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Quantity</th>
                <th>Current Price</th>
                <th>Market Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stock_data_list %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.quantity }}</td>
                <td>${{ "%.2f" | format(stock.current_price) }}</td>
                <td>${{ "{:,.2f}".format(stock.market_value) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>Total Market Value: ${{ "{:,.2f}".format(total_market_value) }}</strong></p>
    {% else %}
    <p>No positions found.</p>
    {% endif %}
    <a href="{{ url_for('view_account', account_id=account.id) }}" class="back-button">← Back to Account</a>
{% endblock %}