/* Base Styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F9FA;
    margin: 0;
    padding: 0;
    color: #343A40;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 74px;
    background-color: #007BFF;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixed position */
    top: 0; /* Stays at the top */
    left: 0;
    z-index: 1001; /* Ensures it stays above other content */
}

header h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1.8em;
}

nav {
    width: 100%;
    background-color: #343A40;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixed position */
    top: 104px; /* Positioned just below the header */
    left: 0;
    z-index: 1000; /* Ensure nav is below the header but above the content */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    font-size: 1em;
    transition: color 0.3s ease;
}

nav .left-section {
    display: flex;
    gap: 15px;
}

nav .right-section {
    margin-right: 20px;
    margin-left: 20px;
}

nav a:hover {
    color: #FFC107;
}

/* Button Styles */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.button.highlight {
    background-color: #28A745;
    font-weight: bold;
}

.button.highlight:hover {
    background-color: #218838;
}

/* Form Styles */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    /* width: 100%; */
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label {
    margin-top: 10px;
    font-weight: 600;
    font-size: 0.9em;
    color: #495057;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    padding: 12px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
    border-color: #007BFF;
}

/* Table Styles */
.allocation-table {
    width: 100%;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.allocation-table th, .allocation-table td, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.allocation-table th {
    background-color: #31708E;
    color: white;
}

.allocation-table tr:nth-child(even) {
    background-color: #F7F9FB;
}

.allocation-table tr:hover {
    background-color: #ddd;
}

/* Specific Table Styles for Edit Portfolio */
.edit-portfolio-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    display: table; /* Ensure table layout */
}

.edit-portfolio-table th, .edit-portfolio-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

.edit-portfolio-table th {
    background-color: #31708E;
    color: white;
}

.edit-portfolio-table tr {
    display: table-row; /* Override flexbox to ensure table row behavior */
}

.edit-portfolio-table input[type="text"],
.edit-portfolio-table input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.edit-portfolio-table .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.edit-portfolio-table tr:nth-child(even) {
    background-color: #F7F9FB;
}

.edit-portfolio-table tr:hover {
    background-color: #ddd;
}

/* Specific Button Styles for the Edit Portfolio */
#add-row-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#add-row-button:hover {
    background-color: #0056b3;
}

#save-button {
    display: block;
    width: 200px;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #28A745;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#save-button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

/* Login Info Header */
.login-info {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-end; /* Align items to the right */
    margin-right: 10px; /* Add 10px margin from the right side */
}

.user-controls {
    margin-top: 5px; /* Add some space between the username and controls */
}

/* Login Form Styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.login-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-container h2 {
    color: #495057;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 700;
}

.flashes li.error {
    background-color: #F8D7DA;
    color: #721C24;
}

.flashes li.success {
    background-color: #D4EDDA;
    color: #155724;
}

.back-button-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start; /* Ensure the button is aligned to the left */
}

.back-button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #F7F9FB;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
}

.back-button:hover {
    background-color: #e0e0e0;
}

.box-highlight {
    display: flex;
    font-size: 2em; /* Makes the text large */
    font-weight: bold; /* Makes the text bold */
    color: #343A40; /* Initial text color */
    position: relative;
    text-decoration: none;
    overflow: hidden; /* Ensures the slide effect stays within bounds */
    justify-content: center;
    align-items: center;
}

.button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #00FBFF; /* Color of the background box on hover */
    z-index: -1; /* Places the box behind the text */
    transition: height 0.3s ease; /* Smooth transition effect */
}

.button:hover::before {
    height: 100%; /* When hovered, the background slides up */
}

.button:hover {
    color: rgb(15, 8, 8); /* Changes text color to contrast with the background */
}

.refresh-button-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start; /* Align to the left like the back button */
}

.refresh-button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #F7F9FB;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    display: inline-block;
    width: auto; /* Ensure the width is auto to avoid stretching */
    box-sizing: border-box; /* Ensure padding is calculated correctly */
}

.refresh-button:hover {
    background-color: #e0e0e0;
}
/* Sidebar and Main Content */
.container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 120px); /* Adjust height based on header + nav height */
    margin-top: 120px; /* Space for fixed header + nav */
}

.sidebar {
    width: 250px;
    background-color: #343A40;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 142px; /* Start below the header and nav */
    bottom: 0;
    overflow-y: auto;
    z-index: 1000; /* Ensure sidebar is above main content but below header */
}

.sidebar h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #FFF;
    display: block;
    text-decoration: none;
    font-size: 1em;
    font-weight: 100;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #FFC107;
}

.sidebar-buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.account_ident {
    display: block; /* Make the entire li a block element */
    width: 108%;    /* Ensure it takes up the full width of the parent element */
    padding: 10px;  /* Add padding if needed to increase the clickable area */
    box-sizing: border-box; /* Make sure padding doesn’t overflow the width */
}

.account_ident:hover {
    background-color: #007BFF; /* Change background on hover */
    cursor: pointer; /* Show a pointer cursor to indicate it’s clickable */
}

.main-content {
    margin-left: 300px; /* Adjust to match the sidebar width */
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease; /* Smooth transition when sidebar toggles */
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 100%;
        height: auto;
        left: -100%;
        transition: left 0.3s ease;
    }

    .sidebar.active {
        left: 0;
    }

    .main-content {
        margin-left: 50px;
        padding-top: 80px; /* Adjust depending on sidebar height */
    }

    /* nav{
        width: calc(100% - 20px); 
        left: 30px;
    } */
}

/* Hamburger Menu Button */
.hamburger {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001; /* Ensure the hamburger is above the sidebar */
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
}

@media (max-height: 675px) {
    .main-content {
        margin-top: 100px;
    }
}